h1 {
  color: blue;
  text-align: center;
  font-size: 3rem;
  border: 1px solid blueviolet;
}
table ,th ,td {
  border: 1px solid blue;
  height: 50px;
  width: 40%;
  text-align: center;
  margin: auto;
  font-size: x-large;
}
tr:nth-child(even) {background-color: #f2f2f2;}
form {
  font-size: xx-large;
  padding-left: 15%;
  padding-bottom: 3%;
  border: 1px solid brown;
  border-radius: 8px;
  padding-top: 3%;
  display: block;

}
button {
  font-size: x-large;
  color: blue;
}
#play {
  font-size: x-large;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
  font-family: inherit;
  border: 1px solid #852929;
  border-radius: 4px;
  background: var(--tenne-tawny-dark);
  border-bottom-right-radius: 10rem;
  padding-left: 15%;
}